streamlit==1.51.0

# Núcleo numérico
numpy==2.2.6
pandas==2.3.3

# OpenCV sólo en modo “headless” (sin GUI)
opencv-python-headless==4.12.0.88

# Modelo YOLO y PyTorch (CPU)
ultralytics==8.3.228
torch==2.9.1
torchvision==0.24.1

# Excel
openpyxl==3.1.5
XlsxWriter==3.2.9
