streamlit==1.32.0
ultralytics==8.3.228

# OpenCV solo en modo headless (sin dependencias gráficas)
opencv-python-headless==4.8.0.74

# Cálculos y tablas
numpy==1.26.4
pandas==2.2.3

# Para generar el Excel
openpyxl==3.1.5
XlsxWriter==3.2.0
